
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>đăng ký</title>
    <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <meta charset="utf-8" />
    <link href="~/Content/Css/Register.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="register-container">
            <h2>Story<span style="color:#00ff21">Book</span></h2>
            <p>Bạn đã có tài khoản? <a href="@Url.Action("Login","Acount")">Đăng nhập</a></p>

            <form>
                <div>
                    <label>Họ và tên</label>
                    <input type="text" placeholder="Nhập tên của bạn" required>
                </div>
                <div>
                    <label>Tài khoản</label>
                    <input type="text" placeholder="Nhập tên của bạn" required>
                </div>
                <div>
                    <label>Email</label>
                    <input type="email" placeholder="Nhập email của bạn" required>
                </div>

                <div>
                    <label>Mật khẩu</label>
                    <input type="password" placeholder="Nhập mật khẩu của bạn" required>
                </div>
                <button type="submit" class="register-btn">Đăng ký</button>
            </form>
        </div>
    </div>
</body>
</html>
