
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSach.cshtml";
}


<section class="book-section">
    <h2  style="color:aquamarine ">Sách Giáo khoa mới cập nhật</h2>
    <div class="underline"></div>

    <div class="book-grid">

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div class="book-price">20.000 đ</div>
                <a class="book-author" href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div class="book-price">20.000 đ</div>
                <a class="book-author" href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div class="book-price">20.000 đ</div>
                <a class="book-author" href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div class="book-price">20.000 đ</div>
                <a class="book-author" href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div class="book-price">20.000 đ</div>
                <a class="book-author" href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div class="book-price">20.000 đ</div>
                <a class="book-author" href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div class="book-price">20.000 đ</div>
                <a class="book-author" href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div class="book-price">20.000 đ</div>
                <a class="book-author" href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div class="book-price">20.000 đ</div>
                <a class="book-author" href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div class="book-price">20.000 đ</div>
                <a class="book-author" href="#">Tác giả</a>
            </div>
        </div>

        <!-- Thêm các card khác tương tự -->
    </div>
</section>


<section class="book-section">
    <h2 style="color:aquamarine ">Sách khoa học mới cập nhật</h2>
    <div class="underline"></div>

    <div class="book-grid">

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div>Giá 20.000đ</div>
                <a href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div>Giá 20.000đ</div>
                <a href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div>Giá 20.000đ</div>
                <a href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div>Giá 20.000đ</div>
                <a href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div>Giá 20.000đ</div>
                <a href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div>Giá 20.000đ</div>
                <a href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div>Giá 20.000đ</div>
                <a href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div>Giá 20.000đ</div>
                <a href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div>Giá 20.000đ</div>
                <a href="#">Tác giả</a>
            </div>
        </div>

        <div class="book-card">
            <div class="book-info">
                <span class="book-tag">Sách giáo khoa</span>
            </div>
            <img src="~/Content/Images/10-nghich-ly-cuoc-song-cc9c2d0c.jpeg">
            <div class="book-info">
                <div class="book-title">Sách Toán 2 Tập 2 – Cánh Diều</div>
                <div>Giá 20.000đ</div>
                <a href="#">Tác giả</a>
            </div>
        </div>



        <!-- Thêm các card khác tương tự -->
    </div>
</section>
